<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.mll_order.mapper.MllMessageMapper">
    <insert id="insert">
        insert into mll_message values(#{messageId},#{messageBody},#{expire},#{status},#{sendCount},#{consumeCount},#{consumeStatus})
    </insert>

    <update id="updateStatusById">
        update mll_message set status = #{status} where message_id = #{messageId}
    </update>

    <update id="updateSendCount">
        update mll_message set send_count=send_count+1,expire=#{expire},status=#{status} where message_id=#{id}
    </update>

    <select id="queryById" resultType="com.cy.microserviceapi.entity.MllMessage">
        select message_id,message_body,expire,status,send_count from mll_message where message_id=#{id}
    </select>

    <select id="queryByStatus" resultType="com.cy.microserviceapi.entity.MllMessage">
        select * from mll_message where status=#{status}
    </select>



</mapper>