<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.mll_seckill.mapper.MllSeckillProductMapper">
    <select id="findByProductId" resultType="MllSeckillProduct">
        select * from mll_miaosha_product where product_id = #{productId}
    </select>

    <update id="updateStockById">
        <!--大于0 通过mysql行级锁解决超卖问题-->
        update mll_miaosha_product set stock_count=stock_count-1 where stock_count>0 and product_id=#{productId}
    </update>

</mapper>